{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <p>Hello {{ name }},</p>
    <p>Vous avez {{ age }} ans</p>
    <p>Vous habitez à {{ adresse }}</p>
{% endblock %}
